{% extends "base.jinja" %}

{% block title %}{{title}}{% endblock %}

{% block main %}
    <h1 class="display-3 text-center mt-5">Welcome to Higurashi shit page, niggas!</h1>
    <div class="container-fluid p-5">
        <div class="d-grid gap-4 d-md-flex justify-content-md-center">
            <div class="bg-light border rounded-3 col-md-8">
                <p class="text-break fs-4 lh-base p-2">
                    Higurashi When They Cry (Japanese: ひぐらしのなく頃に, Hepburn: Higurashi no Naku Koro ni, lit.
                    'When the Cicadas Cry') is a Japanese murder mystery dōjin soft visual novel series produced by
                    07th Expansion that comprises the first two entries of the When They Cry franchise. The series
                    focuses on a group of young friends living in the fictional village of Hinamizawa and the strange
                    events that occur there in 1983.
                </p>
                <br>
                <p class="text-break fs-4 lh-base p-2">
                    You will be able to watch this masterpiece anime right here as soon as possible!
                </p>
            </div>
            <div class="rounded-3 text-center col-md-4">
                <img class="p-2" src="https://media.tenor.com/G0RJnBfeuGEAAAAi/higurashi-umineko.gif"/>
            </div>
    </div>
{% endblock %}
